<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Syscoin &middot; Wiki</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="css/material.min.css" rel="stylesheet">
    <link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <!-- <link href="css/project.min.css" rel="stylesheet"> -->
    <link href="css/project.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-toggleable-sm navbar-inverse doc-navbar bg-inverse" id="doc_navbar">
      <span class="navbar-brand">syscoin.wiki</span>
      <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wiki</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Community</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid mb-xl doc-jumbotron" id="doc_jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
            <h1 class="typography-display-3">Syscoin</h1>
            <p class="font-weight-light typography-title">Business in the blockchain</p>
          </div>
        </div>
      </div>
    </div>

    <main class="doc-main" id="doc_main">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
          <div class="mb-xl">
            <h2 class="text-primary">Disclaimer</h2>
            <p class="typography-subheading">This is an unofficial wiki site. Any topic discussed here is only for informative purposes. Head to <a href="http://syscoin.org" target="_blank">syscoin.org<sup><i class="material-icons material-icons-inline">open_in_new</i></sup></a> for official reference.</p>
          </div>

          <div class="blockquote mb-xl">
            <p class="font-weight-light text-muted">Contents</p>
            <p><a class="content-item" href="#projects">Projects</a></p>
            <p><a class="content-item" href="#news">News</a></p>
            <p><a class="content-item" href="#roadmap">Roadmap</a></p>
            <p><a class="content-item" href="#cryptocurrency">Cryptocurrency</a></p>
            <p><a class="content-item" href="content">Wiki</a></p>
          </div>

          <div class="mb-xl" id="projects">
            <h2 class="text-primary">Projects <a class="anchor" href="#projects"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row">
              <div class="col-md-6 mt-lg">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="img/syscoin-core.png" data-rjs="3" alt="Syscoin Core">
                  <div class="card-block">
                    <h4 class="card-title">Syscoin Core</h4>
                    <p class="card-text">Core technology. The foundation's backbone. Reference wallet.</p>
                    <a href="https://github.com/syscoin/syscoin2/releases/latest" target="_blank" class="btn btn-primary btn-card">Wallet</a>
                    <a href="http://syscoin.org/whitepaper.pdf" target="_blank" class="btn btn-primary btn-card">Whitepaper</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-lg">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="img/syscoin-elite.png" data-rjs="3" alt="Syscoin Elite">
                  <div class="card-block">
                    <h4 class="card-title">Syscoin Elite</h4>
                    <p class="card-text">User friendly desktop &amp; mobile application consuming syscoin API.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/blockmarket-card.png" data-rjs="3" alt="Blockmarket">
                  <div class="card-block">
                    <h4 class="card-title">Blockmarket</h4>
                    <p class="card-text">Blockmarket is a browser-based marketplace that allows users to leverage the power of Syscoin's blockchain-based marketplace without any installation or any prior knowledge. Just like surfing the web.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/pricepeg.png" data-rjs="3" alt="Blockmarket">
                  <div class="card-block">
                    <h4 class="card-title">Price-Peg Server</h4>
                    <p class="card-text">Price peg.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="mb-xl" id="news">
            <h2 class="text-primary">News <a class="anchor" href="#news"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row">
              <div class="col-md-6 mt-lg">
                <h4 class="text-secondary typography-subheading">CSS &amp; HTML</h4>
                <p>If a Bootstrap component has an exact match in Google Material Design, this project will style this Bootstrap component based on the specifications laid out in Google Material Design Guidelines. For example, Bootstrap's buttons = Google Material Design's buttons.</p>
                <p>Some of the Bootstrap components seem to lack an exact match in Google Material Design, but this may be simply due to different naming conventions. For example, Bootstrap's navbars is very much the same as Google Material Design's toolbars.</p>
                <p>If a Bootstrap component does not have an exact match in Google Material Design, the specifications of a closest matching component in Google Material Design Guidelines will be used to style this Bootstrap component. For example, Bootstrap's badges = Google Material Design's chips.</p>
                <p>If a Bootstrap component lacks a related counterpart in Google Material Design completely, this project will style this component based on our own iteration of Google Material Design Guidelines. For example, Bootstrap's button groups, jumbotrons and paginations, etc.</p>
              </div>
              <div class="col-md-6 mt-lg">
                <h4 class="text-secondary typography-subheading">JavaScript</h4>
                <p>No modification has been made to Bootstrap's JavaScript. It is safe to use Bootstrap's JavaScript as it is.</p>
                <p>However, in order to achieve some Material feel and look, Material includes a handful of additional JavaScript to help bring some of the components to life.</p>
              </div>
            </div>
          </div>

          <div class="mb-xl" id="roadmap">
            <h2 class="text-primary">Roadmap <a class="anchor" href="#roadmap"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row">
              <div class="col-md-4 mt-lg">
                <h4 class="text-secondary typography-subheading">Near-term</h4>
                <p>Bug fixes and updates alongside Bootstrap 4's continuous releases.</p>
              </div>
              <div class="col-md-4 mt-lg">
                <h4 class="text-secondary typography-subheading">Mid-term</h4>
                <p>Add missing support for some Google Material Design components (e.g. snackbars).</p>
              </div>
              <div class="col-md-4 mt-lg">
                <h4 class="text-secondary typography-subheading">Long-term</h4>
                <p>Rewrite all JavaScript plugins in ES6 to take advantage of the newest JavaScript enhancements.</p>
              </div>
            </div>
          </div>

          <div class="mb-xl" id="cryptocurrency">
            <h2 class="text-primary">Cryptocurrency <a class="anchor" href="#roadmap"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row chart">
              <!-- TradingView Widget BEGIN -->
              <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
              <script type="text/javascript">
                new TradingView.widget({
                  "autosize": true,
                  "symbol": "POLONIEX:SYSBTC",
                  "height": 450,
                  "interval": "60",
                  "timezone": "Etc/UTC",
                  "theme": "White",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "hide_top_toolbar": true,
                  "save_image": false,
                  "hideideas": true
                });
              </script>
              <!-- TradingView Widget END -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </main>

  <script type="text/javascript" src="js/retina.min.js"></script>

  </body>

  <script>retinajs();</script>

</html>
