<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syscoin &middot; Wiki</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="css/material.min.css" rel="stylesheet">
    <link href="https://v4-alpha.getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <!-- <link href="css/project.min.css" rel="stylesheet"> -->
    <link href="css/project.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-toggleable-sm navbar-inverse doc-navbar bg-inverse" id="doc_navbar">
      <a class="navbar-brand" href=""><img src="img/logo.png" data-rjs="3" alt="syscoin.wiki"></a>
      <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wiki</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Community</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid mb-xl doc-jumbotron" id="doc_jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
            <h1 class="typography-display-3">Syscoin</h1>
            <p class="font-weight-light typography-title">Business in the blockchain</p>
          </div>
        </div>
      </div>
    </div>

    <main class="doc-main" id="doc_main">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8 col-xl-6 offset-sm-1 offset-md-2 offset-xl-3">
          <div class="mb-xl">
            <h2 class="text-primary">Disclaimer</h2>
            <p class="typography-subheading">This is an unofficial wiki site. Any topic discussed here is only for informative purposes. Head to <a href="http://syscoin.org" target="_blank">syscoin.org</a> for official reference.</p>
          </div>

          <div class="blockquote mb-xl">
            <p class="font-weight-light text-muted">Contents</p>
            <p><a class="content-item" href="#news">News</a></p>
            <p><a class="content-item" href="#projects">Projects</a></p>
            <p><a class="content-item" href="#roadmap">Roadmap</a></p>
            <p><a class="content-item" href="#blockchain-foundry">Blockchain Foundry</a></p>
            <p><a class="content-item" href="content">Wiki</a></p>
            <p><a class="content-item" href="content">FAQ</a></p>
            <p><a class="content-item" href="content">Community</a></p>
          </div>

          <section class="mb-xl" id="news">
            <h2 class="text-primary">News <a class="anchor" href="#news"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row">
              <div class="col-md-12 mt-lg">
                <div class="card mb-3">
                  <img class="card-img-top" src="img/microsoft-partnership.jpg" data-rjs="3" alt="Microsoft Partnership">
                  <div class="card-block">
                    <h4 class="card-title">Syscoin Node is Now MS Cert</h4>
                    <p class="card-text">Syscoin team has completed all steps for certification.</p>
                    <p>
                      <a href='#microsoft-certification' class="card-link collapsed" data-toggle="collapse" data-target="#microsoft-certification">Read More</a>
                      <a href="http://syscoin.org/microsoft-azure-baas/" target="_blank" class="card-link">Official Article</a>
                    </p>
                    <div class="collapse" id="microsoft-certification">
                      <p>nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                    </div>
                      <p class="card-text" itemprop="datePublished" content="2017-02-13"><small class="text-muted">February 13</small></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-lg">
                <div class="card mb-3">
                  <img class="card-img-top" src="img/syscoin-multisig.jpg" data-rjs="3" alt="Syscoin Multisig">
                  <div class="card-block">
                    <h4 class="card-title">Segwit, Lightning Network and ZKA</h4>
                    <p class="card-text">Syscoin team has completed all steps for certification.</p>
                    <p>
                      <a href="/wiki/what-is-zka" target="_blank" class="card-link">What is ZKA?</a>
                      <a href="http://syscoin.org/syscoin-core-segwit-lightning/" target="_blank" class="card-link">Official Article</a>
                    </p>
                    <p class="card-text" itemprop="datePublished" content="2017-02-08"><small class="text-muted">February 8</small></p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-lg">
                <div class="card mb-3">
                  <img class="card-img-top" src="img/consensus-2017.jpg" data-rjs="3" alt="Consensus 2017">
                  <div class="card-block">
                    <h4 class="card-title">New Partnerships and Consensus 2017</h4>
                    <p class="card-text">asd asd asd.</p>
                    <p>
                      <a href="http://syscoin.org/partnerships-and-syscoin-at-consensus-2017/" target="_blank" class="card-link">Official Article</a>
                    </p>
                    <p class="card-text" itemprop="datePublished" content="2017-02-06"><small class="text-muted">February 6</small></p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="mb-xl" id="projects">
            <h2 class="text-primary">Projects <a class="anchor" href="#projects"><sup><i class="material-icons">link</i></sup></a></h3>
            <div class="row">
              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/syscoin-core.png" data-rjs="3" alt="Syscoin Core">
                  <div class="card-block">
                    <h4 class="card-title">Syscoin Core</h4>
                    <p class="card-text">Core technology. The foundation's backbone. Reference wallet.</p>
                    <a href="https://github.com/syscoin/syscoin2/releases/latest" target="_blank" class="card-link">Wallet</a>
                    <a href="http://syscoin.org/whitepaper.pdf" target="_blank" class="card-link">Whitepaper</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/syscoin-elite.png" data-rjs="3" alt="Syscoin Elite">
                  <div class="card-block">
                    <h4 class="card-title">Syscoin Elite</h4>
                    <p class="card-text">User friendly desktop &amp; mobile application consuming syscoin API.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/blockmarket-card.png" data-rjs="3" alt="Blockmarket">
                  <div class="card-block">
                    <h4 class="card-title">Blockmarket</h4>
                    <p class="card-text">Blockmarket is a browser-based marketplace that allows users to leverage the power of Syscoin's blockchain-based marketplace without any installation or any prior knowledge. Just like surfing the web.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/pricepeg.png" data-rjs="3" alt="Blockmarket">
                  <div class="card-block">
                    <h4 class="card-title">Pricepeg Server</h4>
                    <p class="card-text">Decentralized price peg server. Supports both crypto and fiat currencies.</p>
                    <a href="https://github.com/syscoin/pricepeg" target="_blank" class="card-link">Docs</a>
                    <a href="http://peg.syscoin.org/" target="_blank" class="card-link">Official Peg Server</a>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 mt-lg">
                <div class="card">
                  <img class="card-img-top" src="img/pricepeg.png" data-rjs="3" alt="Blockmarket">
                  <div class="card-block">
                    <h4 class="card-title">Project Mongoose</h4>
                    <p class="card-text">Super secret project built on top of syscoin core.</p>
                    <p class="text-muted">Coming Soon</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="mb-xl" id="roadmap">
            <h2 class="text-primary">Roadmap <a class="anchor" href="#roadmap"><sup><i class="material-icons">link</i></sup></a></h3>
            <h3 class="text-secondary mt-md roadmap-heading">2017</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 18%"></div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <h4 class="text-secondary typography-subheading mt-md roadmap-heading">Q1</h4>
                <span class="roadmap-item">&bull; Microsoft Certification</span>
                <span class="roadmap-item">&bull; Blockmarket v1</span>
                <span class="roadmap-item">&bull; Syscoin Elite</span>
                <span class="roadmap-item">&bull; Project Mongoose</span>
              </div>
              <div class="col-md-3">
                <h4 class="text-secondary typography-subheading mt-md roadmap-heading">Q2</h4>
                <span class="roadmap-item">&bull; Proof of concept implementations for medical, legal and real estate applications</span>
                <span class="roadmap-item">&bull; Conference and a hackathon</span>
              </div>
              <div class="col-md-3">
                <h4 class="text-secondary typography-subheading mt-md roadmap-heading">Q3</h4>
                <span class="roadmap-item">&bull; Syscoin e-commerce platforms integration</span>
                <span class="roadmap-item">&bull; Blockmarket v2</span>
                <span class="roadmap-item">&bull; Microsoft Certification for Blockmarket v2</span>
              </div>
              <div class="col-md-3">
                <h4 class="text-secondary typography-subheading mt-md roadmap-heading">Q4</h4>
                <span class="roadmap-item">&bull; iOS &amp; Android applications</span>
                <span class="roadmap-item">&bull; Blockmarket Ad Network</span>
              </div>
            </div>
          </section>

          <section class="mb-xl" id="blockchain-foundry">
            <h2 class="text-primary">Blockchain Foundry <a class="anchor" href="#blockchain-foundry"><sup><i class="material-icons">link</i></sup></a></h3>
            <p>MISSING_CONTENT</p>
          </section>

        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">MISSING_CONTENT</span>
      </div>
    </footer>

  </main>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/material.min.js"></script>
  <script type="text/javascript" src="js/retina.min.js"></script>

  </body>

  <script>retinajs();</script>

</html>
